.home-banner {/* overflow: hidden; *//* position: relative; *//* height: 100vh; */}
.home-banner video {width: 100%;/* position: absolute; *//* top: 0; *//* left: 0; */position: relative;left: 0;}
.home-banner-text { position: absolute; top: 25%; left: 0; text-align: center; width: 100%; }
.home-banner-text img {max-width: 350px;max-height: 200px;width: auto;}

.welcome-text { color: #fff; }
h2.welcome-text { font-weight: 600; }

.down-arrow {position: absolute;top: calc( 100vh - 64px );left: 0;color: white;width: 100%;text-align: center;}

.down-arrow i { -webkit-animation-name: bounceInSmall; -moz-animation-name: bounceInSmall; -ms-animation-name: bounceInSmall; -o-animation-name: bounceInSmall; animation-name: bounceInSmall; -webkit-animation-duration: 3s; -moz-animation-duration: 3s; -ms-animation-duration: 3s; -o-animation-duration: 3s; animation-duration: 3s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; -webkit-animation-timing-function: ease; -moz-animation-timing-function: ease; -ms-animation-timing-function: ease; -o-animation-timing-function: ease; animation-timing-function: ease; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-animation-iteration-count: infinite; }
.down-arrow i:hover { color: white; }

.home-about-us {text-align: center;padding: 90px 5% 40px 5%;}
.home-about-us h1 { font-weight: 600; font-size: 3.8em; line-height: 1em; }
.home-about-us p { font-family: "Segoe UI"; font-size: 18px; }
.home-about-us .simple-line { width: 70px; height: 6px; background-color: #007fff; margin: 0 auto 20px auto; }
.home-about-us-info { overflow: hidden; margin-top: 40px; text-align: left; }
.home-about-us-left ul {padding: 0 10%;}

.home-expertise {text-align: center;padding: 0 5% 40px 5%;}
.home-expertise h1 {font-weight: 600;font-size: 3.8em;line-height: 1em;margin-bottom: 40px;}
.home-expertise p { font-family: "Segoe UI"; font-size: 18px; }
.home-expertise .simple-line {width: 90%;margin: 0 auto 20px auto;border-top: 1px solid #d6cece;}
.home-expertise-info {overflow: hidden;margin: 0 auto;margin-top: 40px;text-align: left;}
.home-expertise .home-expertise-content {padding: 0 10%;text-align: left;}

.ui-tabs-vertical { max-width: 55em;width: 100%; }
.ui-tabs-vertical .ui-tabs-nav {padding: 0;border: 0;border-radius: 0;float: left;width: 25%;border-bottom: 1px solid #dddddd;}
.ui-tabs-vertical .ui-tabs-nav li {clear: left;width: 100%;border-radius: 0;background-color: #fff;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {background-color: #007fff;border-right-width: 1px;}
.ui-tabs-vertical .ui-tabs-panel {padding: 1em;float: right;width: 75%;border: 1px solid #dddddd;}
.ui-widget.ui-widget-content {border: 0;padding: 0;}
.ui-tabs .ui-tabs-nav li {margin: 0;}
.ui-tabs-tab.ui-tab:hover {background: #f6f6f6;}
/*.ui-tabs-tab.ui-tab:hover a {color: #ffffff;}*/
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {width: 100%;}

.home-client-showcase { text-align: center; padding: 90px 5% 70px 5%; background-image: url(../img/young-guys.jpg); background-attachment: fixed; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: center; }
.home-client-showcase h2 { font-size: 2.8em; font-weight: 600; color: #fff; }
.home-clients-list-wrapper { padding: 90px 0 70px 0; }
.home-clients-list { display: flex; margin: auto; justify-content: space-evenly; flex-flow: wrap; }
.home-client-showcase img { padding: 5px; flex-grow: 1; max-width: 154px; max-height: 80px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #007fff;}
.owl-theme .owl-dots .owl-dot span {    width: 30px; height: 5px; margin: 5px 7px; background: #D6D6D6; display: block; -webkit-backface-visibility: visible; transition: opacity .2s ease; border-radius: 0; }


.row.we-undertake {display: block;width: 600px;margin: 0 auto 0 auto;}
.row.we-undertake ul {width: 100%; margin-left: 145px; }